@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido a Materials App Web</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Materials App Web</h2>
        <p>
            Bienvenido, en esta App puedes agregar Buildings, Cutomers y PartNumbers
        </p>
        <p>
            Asi como tambien puedes consultar PartNumbers por su PartNumber o por su Customer
        </p>
        <p>
            Que te diviertas!!
        </p>
    </div>